/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

/* Set global font */
body {
  font-family: 'Archivo', sans-serif;
}

/* Hide scrollbar for Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox, Edge, IE */
.no-scrollbar {
  -ms-overflow-style: none;   /* IE, Edge */
  scrollbar-width: none;      /* Firefox */
}